<div class="uk-position-top-right">
    <div class="uk-container">
        <ul class="uk-subnav uk-subnav-pill uk-subnav-divider" uk-switcher>
            <li routerLinkActive="active">
                <a routerLink="login">
                    <span class="uk-text-capitalize uk-text-large">Sign In</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="signup">
                    <span class="uk-text-capitalize uk-text-large">Sign Up</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="uk-position-top-left">
    <h1 class="uk-heading-small uk-text-bold">Personal Dashboard</h1>
    <h3>Experience an original RSS Widgets Web Application</h3>
    <h3><span>Never miss an important information : <br></span>From Weather Forecast to Google Calendar, all you're daily services are available on the same plateform</h3>
</div>
