.uk-position-top-right {
    position: relative;
    top: 5vh;
    right: 3vh;
}

// .uk-text-capitalize {
//     color: #FFFF
// }

h2 {
    color: #fcf7f7;
}
//
// .uk-position-top-left {
//     position: relative;
//     top: 8vh;
//     left: 5vh;
// }

h2, h4 {
    position: relative;
    left: 5vh;
}

.uk-tile {
    background-color: #548ea3;
    width: 61%;
}
