<div>
    <div class="uk-inline">
        <button class="uk-icon-button" uk-icon="more-vertical"></button>
        <div uk-dropdown="mode: click">
            <button class="uk-dropdown-close uk-margin" type="button" uk-close></button>
            <div class="uk-dropdown-grid uk-grid-row-small uk-flex-center" uk-grid>
                <div>
                    <button class="uk-button uk-button-default uk-margin-small-bottom uk-dropdown-close" [attr.uk-toggle]="'#modal-edit-widget-' + editForm">
                        Edit
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-danger uk-dropdown-close"
                    [attr.uk-toggle]="'#modal-delete-widget-confirm-' + editForm"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to confirm the deletion of the widget -->
    <div [id]="'modal-delete-widget-confirm-' + editForm"
    uk-modal>
        <div class="uk-margin-auto-vertical uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Confirm Delete</h2>
            </div>
            <div class="uk-modal-body">
                <p class="uk-alert-danger uk-text-default" uk-alert>Are you sure you want to delete the widget ? <span class="uk-text-bold">Warning: You can't undo this action!</span></p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-danger" type="button">Delete</button>
            </div>
        </div>
    </div>

    <div [id]="'modal-edit-widget-' + editForm" uk-modal>
        <div class="uk-modal-dialog uk-margin-large-top">
            <app-calendar-form mode="edition"
            [calendarWidget]="calendarWidget"
            *ngIf="editForm.includes('google-calendar')"></app-calendar-form>
            <app-step-one-form mode="edition" *ngIf="editForm.includes('youtube-videos')"></app-step-one-form>
            <app-weather-form mode="edition" *ngIf="editForm.includes('weather-forecast')"></app-weather-form>
        </div>
    </div>

</div>
