form {
    position: relative;
    bottom: 3vh;
    left: 4vh;
}

.uk-button {
    position: relative;
    top: 6vh;
    left: 2vh;
}
//uncomment and delete above eventually
// form {
//     position: relative;
//     top: 1vh;
//     left: 2vh;
// }
