<div class="uk-container">
    <app-floating-button></app-floating-button>
</div>

<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>

            <!-- remove and put the class inside youtubeWidget div -->
            <app-youtube-widget class='uk-width-1-3@s' *ngFor="let youtubeWidget of youtubeWidgets" [youtubeWidget]='youtubeWidget'></app-youtube-widget>

            <app-weather-widget class='uk-width-1-2@s' *ngFor="let weatherWidget of weatherWidgets" [weatherWidget]='weatherWidget'></app-weather-widget>

            <app-youtube-widget class='uk-width-1-3@s' *ngFor="let youtubeWidget of youtubeWidgets" [youtubeWidget]='youtubeWidget'></app-youtube-widget>
    <app-youtube-widget class='uk-width-1-3@s' *ngFor="let youtubeWidget of youtubeWidgets" [youtubeWidget]='youtubeWidget'></app-youtube-widget>

        </div>
    </div>
</div>
