.uk-icon-button {
    margin-top: 30px;
    margin-right: -100px;
    height: 70px;
    width: 70px;
}

.uk-card-header {
    position: relative;
    right: 2vh;
}

.uk-container {
    position: relative;
    left: 3vh;
}

#videos {
    overflow-x: auto;
}

#videos .uk-card-title {
    font-size: 17px
}


#details {
    font-size: 12px
}
//
// #videos .uk-card {
//     position: relative;
//     right: 1vh;
// }
