<!-- <button (click)="setMonth(-1)">&lt;</button>
{{date | date}}
<button (click)="setMonth(+1)">&gt;</button>
<ul>
  <li class="days" *ngFor="let day of days"> {{day}} </li>
  <li *ngFor="let date of dates"
    [ngClass]="{grey: !isSameMonth(date)}">
    {{date | date:'d'}}
  </li>
</ul> -->

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <div class="uk-flex-between" uk-grid>
            <ul [id]="'calendar-switcher-' + calendarWidget._id" class="uk-switcher">
                <li class="uk-active">
                    <h3 class="uk-card-title">{{ dates[currentDateIndex].date | date:'d, MMMM, y' }}</h3>
                </li>
                <li>
                    <h3 class="uk-card-title">{{ date | date:'MMMM, y' }}</h3>
                </li>
                <li>
                    <h3 class="uk-card-title">{{ date | date:'MMMM, y' }}</h3>
                </li>
            </ul>
            <ul class="uk-margin-left" [attr.uk-tab]="'connect: #calendar-switcher-' + calendarWidget._id">
                <li class="uk-active"><a href="#">Day</a></li>
                <li><a href="#">Week</a></li>
                <li><a href="#">Month</a></li>
            </ul>
            <ul [id]="'calendar-switcher-' + calendarWidget._id" class="uk-switcher">
                <li class="uk-active">
                    <button class="uk-icon-button" uk-icon="chevron-left" (click)="setDay(-1)"></button>
                    <button class="uk-button" (click)="setCurrentMonth()">Today</button>
                    <button class="uk-icon-button" uk-icon="chevron-right" (click)="setDay(+1)"></button>
                </li>
                <li>
                    <button class="uk-icon-button" uk-icon="chevron-left" (click)="setWeek(-7)"></button>
                    <button class="uk-button" (click)="setCurrentMonth()">Today</button>
                    <button class="uk-icon-button" uk-icon="chevron-right" (click)="setWeek(+7)"></button>
                </li>
                <li>
                    <button class="uk-icon-button" uk-icon="chevron-left" (click)="setMonth(-1)"></button>
                    <button class="uk-button" (click)="setCurrentMonth()">Today</button>
                    <button class="uk-icon-button" uk-icon="chevron-right" (click)="setMonth(+1)"></button>
                </li>
            </ul>
            <app-edit-delete-widget
                [editForm]="'google-calendar-' + calendarWidget._id"
                [calendarWidget]="calendarWidget"
            ></app-edit-delete-widget>
        </div>
    </div>

    <div class="uk-card-body">
        <ul [id]="'calendar-switcher-' + calendarWidget._id" class="uk-switcher uk-margin">

            <li class="uk-active">
                <div class="uk-text-center uk-flex-column" uk-grid>
                    <div *ngFor="let day of daysFull |
                    slice:dayRange.first:dayRange.last">
                        <div class="uk-tile uk-tile-muted uk-padding-small">
                            <p class="uk-h5">{{ day }}</p>
                        </div>
                        <div id="date" class="uk-tile uk-padding-small uk-height-medium uk-width-expand"
                        >
                            <div
                            *ngIf="dates[currentDateIndex].events.length <= 4"
                            class="uk-margin-small-top uk-flex uk-flex-column uk-text-left"
                            >
                                <span [ngStyle]="{backgroundColor: getBackgroundColor(event.colorId)}" *ngFor="let event of dates[currentDateIndex].events" class="uk-label uk-padding-small uk-text-light uk-margin-small-bottom">
                                    {{ ellipsify(event.title, 100) }}
                                </span>
                            </div>
                            <div
                            *ngIf="dates[currentDateIndex].events.length > 4"
                            class="uk-margin-small-top uk-flex uk-flex-column uk-text-left"
                            >
                                <span [ngStyle]="{backgroundColor: getBackgroundColor(event.colorId)}" *ngFor="let event of dates[currentDateIndex].events | slice:0:4" class="uk-label uk-padding-small uk-text-light uk-margin-small-bottom">
                                    {{ ellipsify(event.title, 100) }}
                                </span>
                                <span class="uk-text-muted uk-margin-small-left">
                                    {{
                                        dates[currentDateIndex]
                                        .events.length - 4
                                    }} more...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="uk-grid-collapse uk-text-center" uk-grid>
                    <div class="tile-width" *ngFor="let day of days">
                        <div class="uk-tile uk-tile-muted uk-padding-small">
                            <p class="uk-h6">{{ day }}</p>
                        </div>
                    </div>
                    <div id="date" class="tile-width" *ngFor="let date of dates | slice:weekRange.firstDay:weekRange.lastDay">
                        <div class="uk-tile uk-tile-padding uk-height-medium"
                        [ngClass]="{'uk-tile-muted': isSameMonth(date.date)}"
                        >
                            <p class="uk-h6 uk-margin-bottom" [ngClass]="{'uk-badge': isSameDate(date.date)}">
                                {{ date.date | date:'d' }}
                            </p>
                            <div class="uk-flex uk-margin-small-left uk-flex-column uk-text-left">
                                <div *ngIf="date.events.length <= 8">
                                    <span id="event_month" [ngStyle]="{backgroundColor: getBackgroundColor(event.colorId)}" *ngFor="let event of date.events" class="uk-label uk-text-light uk-margin-small-bottom">
                                        {{ ellipsify(event.title, 7) }}
                                    </span>
                                </div>
                                <div *ngIf="date.events.length > 8">
                                    <span id="event_month" [ngStyle]="{backgroundColor: getBackgroundColor(event.colorId)}" *ngFor="let event of date.events | slice:0:7" class="uk-label uk-text-light uk-margin-small-bottom">
                                        {{ ellipsify(event.title, 7) }}
                                    </span>
                                    <span class="uk-text-muted uk-margin-small-left">
                                        {{ date.events.length - 7 }} more...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="uk-grid-collapse uk-text-center" uk-grid>
                    <div class="tile-width" *ngFor="let day of days">
                        <div class="uk-tile uk-tile-muted uk-padding-small">
                            <p class="uk-h6">{{ day }}</p>
                        </div>
                    </div>
                    <div id="date-month" class="tile-width" *ngFor="let date of dates">
                        <div class="uk-tile uk-tile-padding"
                        [ngClass]="{'uk-tile-muted': isSameMonth(date.date)}"
                        >
                            <p class="uk-h6 uk-margin-small-bottom">
                                <span [ngClass]="{'uk-badge': isSameDate(date.date)}">
                                    {{ date.date | date:'d' }}
                                </span>
                            </p>
                            <div class="uk-flex uk-margin-small-left uk-flex-column uk-text-left">
                                <div *ngIf="date.events.length <= 2">
                                    <span id="event_month" [ngStyle]="{backgroundColor: getBackgroundColor(event.colorId)}" *ngFor="let event of date.events" class="uk-label uk-text-light">
                                        {{ ellipsify(event.title, 7) }}
                                    </span>
                                </div>
                                <div *ngIf="date.events.length > 2">
                                    <span id="event_month" [ngStyle]="{backgroundColor: getBackgroundColor(event.colorId)}" *ngFor="let event of date.events | slice:0:1" class="uk-label uk-text-light">
                                        {{ ellipsify(event.title, 7) }}
                                    </span>
                                    <span class="uk-text-muted uk-text-light uk-text-nowrap uk-margin-small-left">
                                        {{ date.events.length - 1 }} more...
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
