<button class="uk-modal-close-default" (click)="clearForm(formStep2)" type="button" uk-close></button>

<div class="uk-modal-header">
    <h2 class="uk-modal-title">YouTube Videos Step 2</h2>
</div>

<div class="uk-modal-body">
    <form class="uk-form-stacked uk-margin-xlarge-left uk-margin-top" (ngSubmit)="onSubmitStep2(formStep2)" #formStep2="ngForm">

        <div class="uk-margin-large-left uk-margin-medium-bottom">
            <label class="uk-form-label uk-margin-bottom" for="channel">
                Enter a Channel name
            </label>
            <div class="uk-form-controls">
                <input class="uk-input uk-form-width-small" type="text" id="channel" name="channel" ngModel required>
            </div>
        </div>

        <div class="uk-margin-large-left uk-margin-medium-bottom">
            <label class="uk-form-label uk-margin-bottom" for="categories">
                Filter by
            </label>
            <div class="uk-form-controls">
                <div class="uk-grid uk-flex-column" id="categories">
                    <label class="uk-margin-small-bottom">
                        <div class="uk-flex uk-text-normal">
                            <input class="uk-radio" type="radio" value="Most Popular"
                            name="filter" ngModel required>
                            <span class="uk-margin-small-left">Most Popular</span>
                        </div>
                    </label>
                    <label class="uk-margin-small-bottom">
                        <div class="uk-flex uk-text-normal">
                            <input class="uk-radio" type="radio" value="Recent"
                            name="filter" ngModel required>
                            <span class="uk-margin-small-left">Recent</span>
                        </div>
                    </label>
                    <label>
                        <div class="uk-flex uk-text-normal">
                            <input class="uk-radio" type="radio" value="Old"
                            name="filter" ngModel required>
                            <span class="uk-margin-small-left">Old</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <button class="uk-button uk-button-primary uk-margin uk-width-2-3@s" type="submit" [disabled]="formStep2.invalid">
            Submit
        </button>

    </form>

    <div *ngIf="loading" class="uk-flex uk-flex-center" uk-spinner></div>
    <div *ngIf="successfulMessage" uk-alert class="uk-alert-success">
        <button class="uk-alert-close" uk-close></button>
        <span>
            {{ successfulMessage }}
        </span>
    </div>
    <div *ngIf="errorMessage" uk-alert class="uk-alert-danger">
        <button class="uk-alert-close" uk-close></button>
        <span>
            {{ errorMessage }}
        </span>
    </div>

</div>

    <!-- <div class="uk-modal-footer uk-text-center">
         <a href="#modal-youtube-step-1" class="uk-button uk-button-primary" uk-toggle>
            Previous
         </a>
    </div> -->
