
<!-- <button class="uk-margin-large-left" uk-icon="pencil"></button> -->

<button class="uk-icon-button uk-margin-xlarge-right uk-margin-xlarge-top" uk-icon="icon: pencil; ratio: 2" uk-toggle="target: #modal-edit-profile">
</button>
<div class="uk-grid uk-flex-center uk-text-center uk-flex-middle" uk-grid>
        <div>
            <img class="uk-border-circle" width="200" height="200" src="../../assets/mr_robot.jpg">
        </div>
        <div>
            <h2>Mr Robot</h2>
            <p class="uk-text-meta"> I'm a hacker and I always make sure to be invisible.</p>
        </div>
</div>
<div class="uk-section uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-flex-center uk-text-center uk-grid-collapse" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Gender</h3>
                    </div>
                    <div class="uk-card-body uk-light">
                        <h3 class="uk-text-light">Male</h3>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Age</h3>
                    </div>
                    <div class="uk-card-body uk-light">
                        <h3 class="uk-text-light">28</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Job Title</h3>
                    </div>
                    <div class="uk-card-body uk-light">
                        <h3 class="uk-text-light">Developer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-edit-profile" uk-modal>
    <div class="uk-modal-dialog">
        <app-profile-form></app-profile-form>
    </div>
</div>
