.uk-nav-sub .uk-parent {
    font-size: 22px;
}

.uk-nav-sub .uk-parent .uk-nav-sub {
    font-size: 18px;
}

.uk-text-capitalize  {
    color: #d3d3d3;
}

.uk-icon-button {
    margin-top: 30px;
    margin-right: -100px;
    height: 70px;
    width: 70px;
    background-color: #FFF;
    color: #3895D3
}

#toggle {
    height: 60px;
    width: 60px;
    background-color: transparent;
    color: #616161;
    z-index: 10;
}
