<div>
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Google Calendar</h2>
    </div>

    <div class="uk-modal-body">
        <form class="uk-form-stacked uk-margin-xlarge-left uk-margin-top" (ngSubmit)="onSubmitForm(form)" #form="ngForm">

            <div class="uk-margin-large-left uk-margin-medium-bottom">
                <label class="uk-form-label uk-margin-bottom" for="view">
                    Select a view
                </label>
                <div class="uk-form-controls">
                    <div class="uk-grid uk-flex-column" id="view">
                        <label class="uk-margin-small-bottom">
                            <div class="uk-flex uk-text-normal">
                                <input class="uk-radio" type="radio" value="month"
                                name="view" ngModel required>
                                <span class="uk-margin-small-left">Months</span>
                            </div>
                        </label>
                        <label class="uk-margin-small-bottom">
                            <div class="uk-flex uk-text-normal">
                                <input class="uk-radio" type="radio" value="week"
                                name="view" ngModel required>
                                <span class="uk-margin-small-left">Weeks</span>
                            </div>
                        </label>
                        <label>
                            <div class="uk-flex uk-text-normal">
                                <input class="uk-radio" type="radio" value="day"
                                name="view" ngModel required>
                                <span class="uk-margin-small-left">Days</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="uk-margin-large-left uk-margin-bottom">
                <label class="uk-flex">
                    <input class="uk-checkbox" type="checkbox"
                    name="events" ngModel>
                    <span class="uk-margin-small-left">Display my events</span>
                </label>
            </div>

            <button class="uk-button uk-button-primary uk-margin uk-width-2-3@s" type="submit" [disabled]="form.invalid">
                Submit
            </button>

        </form>
    </div>

    <div class="uk-modal-footer uk-text-center">
         <a href="#modal-productivity" class="uk-button uk-button-primary" uk-toggle>
            Previous
         </a>
    </div>
</div>
